.logo {
  height: 38px !important;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.logoimg{
  margin-right: 32px;
}
span.menu {
 margin-right: 7px;
}
#mainSideMenu .ant-menu-submenu-arrow {
  right: inherit;
  left: 16px;
}